.main {
    &__info{
        width: 90%;
        margin-top: 2%; 
    }
    &__about{
        width: 70%;
    }
}
.wall {
    margin-top: 20px;

    & input {
        height: 40px;
        width: 80%;
        font-size: 1em;
        color: lightgray;
    }
}